.places {
    position: relative;
    z-index: -1;
}

.places h1 {
    font-size: 30px;
    padding-left: 15px;
}

.places-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -25px;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;
    height: 400px;
}

.places article > h2 {
    font-size: 30px;
    position: relative;
    bottom: 25px;
}

.places article .price_by_night {
    min-width: 60px;
    height: 60px;
    color: #FF5A5F;
    border: 4px solid  #FF5A5F;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 86px;
    left: 151px;
    padding: 10px;
}

.places article .price_by_night h2{
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.places article .information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    position: relative;
    bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.information .max_guest {
    background: url('../images/guest_icon.png') 26px -5px no-repeat;
    margin: 0;
    width: 100px;
    padding-top: 40px;
}

.information .number_rooms {
    background: url('../images/bed_icon.png') 27px -5px no-repeat;
    margin: 0;
    width: 100px;
    padding-top: 40px;
}

.information .number_bathrooms {
    background: url('../images/bath_icon.png') 27px -5px no-repeat;
    margin: 0;
    width: 100px;
    padding-top: 40px;
}

.places article .user {
    position: relative;
    bottom: 60px;
    text-align: left;
}

.places article .description {
    text-align: left;
    position: relative;
    bottom: 65px;
    height: 200px;
    overflow-y: auto;
}
